# Необхідно виконати:

## Прочитайте файл 2017_jun_final.csv за допомогою методу read_csv

In [11]:
import pandas as pd

users = pd.read_csv("2017_jun_finall.csv")

## Прочитайте отриману таблицю, використовуючи метод head

In [12]:
users.head()

,N,Посада,Мова програмування,Спеціалізація,Загальний досвід роботи,Досвід роботи на поточному місці,Зарплата на місяць,Зміна зарплати за 12 місяців,Місто,Розмір компанії,...,Ще студент,Рівень англійської,Предметна область,Дата заповнення,User.Agent,exp,current_job_exp,salary,Валюта,cls
0,1,Junior QA engineer,NaN,Manual QA,0.5,0.5,400,0,Харків,до 10 осіб,...,True,Pre-intermediate (нище середнього),"iOS,eCommerce",12/06/2017 12:38:08,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,0.5,0.5,400,NaN,QA
1,2,Junior QA engineer,NaN,Manual QA,менше 3 місяців,менше 3 місяців,430,130,Харків,більше 1000 осіб,...,True,Upper-Intermediate (вище середнього),Веб-розробка,12/06/2017 12:42:51,Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...,0.0,0.0,430,NaN,QA
2,3,Software Engineer,C#/.NET,NaN,4,1,2500,800,Київ,до 1000 осіб,...,False,Intermediate (середній),"Веб-розробка,Корпоративні системи",12/06/2017 13:02:47,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,4.0,1.0,2500,NaN,DEV
3,4,Software Engineer,JavaScript,NaN,5,4,2000,400,Одеса,до 200 осіб,...,False,Pre-intermediate (нище середнього),"Desktop Applications,Веб-розробка",12/06/2017 13:03:01,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,5.0,4.0,2000,NaN,DEV
4,5,Senior Software Engineer,JavaScript,NaN,10 і більше років,0.5,4500,500,Інше,до 10 осіб,...,False,Intermediate (середній),"Desktop Applications,Веб-розробка",12/06/2017 13:03:47,Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...,10.0,0.5,4500,NaN,DEV

## Визначте розмір таблиці за допомогою методу shape

In [13]:
users.shape

(8704, 25)

## Визначте типи всіх стовпців за допомогою dataframe.dtypes

In [14]:
users.dtypes

N                                     int64
Посада                               object
Мова програмування                   object
Спеціалізація                        object
Загальний досвід роботи              object
Досвід роботи на поточному місці     object
Зарплата на місяць                    int64
Зміна зарплати за 12 місяців          int64
Місто                                object
Розмір компанії                      object
Тип компанії                         object
Стать                                object
Вік                                   int64
Освіта                               object
Університет                          object
Ще студент                             bool
Рівень англійської                   object
Предметна область                    object
Дата заповнення                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

## Порахуйте, яка частка пропусків міститься в кожній колонці (використовуйте методи isnull та sum)

In [15]:
users.isnull().sum()

N                                      0
Посада                                 0
Мова програмування                  3850
Спеціалізація                       7219
Загальний досвід роботи                0
Досвід роботи на поточному місці       0
Зарплата на місяць                     0
Зміна зарплати за 12 місяців           0
Місто                                  0
Розмір компанії                        0
Тип компанії                           0
Стать                                  0
Вік                                    0
Освіта                                 0
Університет                          358
Ще студент                             0
Рівень англійської                     0
Предметна область                    223
Дата заповнення                        0
User.Agent                             0
exp                                    0
current_job_exp                        0
salary                                 0
Валюта                              8694
cls                                 1574
dtype: int64

## Видаліть усі стовпці з пропусками, крім стовпця "Мова програмування"

In [22]:
new_table = users.dropna(axis=1, how='any').join(users[['Мова програмування']])
new_table.head()

,N,Посада,Загальний досвід роботи,Досвід роботи на поточному місці,Зарплата на місяць,Зміна зарплати за 12 місяців,Місто,Розмір компанії,Тип компанії,Стать,Вік,Освіта,Ще студент,Рівень англійської,Дата заповнення,User.Agent,exp,current_job_exp,salary,Мова програмування
0,1,Junior QA engineer,0.5,0.5,400,0,Харків,до 10 осіб,Аутсорсингова,жіноча,20,Неповна Вища,True,Pre-intermediate (нище середнього),12/06/2017 12:38:08,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,0.5,0.5,400,NaN
1,2,Junior QA engineer,менше 3 місяців,менше 3 місяців,430,130,Харків,більше 1000 осіб,Аутсорсингова,жіноча,21,Неповна Вища,True,Upper-Intermediate (вище середнього),12/06/2017 12:42:51,Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...,0.0,0.0,430,NaN
2,3,Software Engineer,4,1,2500,800,Київ,до 1000 осіб,Аутсорсингова,чоловіча,26,Вища,False,Intermediate (середній),12/06/2017 13:02:47,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,4.0,1.0,2500,C#/.NET
3,4,Software Engineer,5,4,2000,400,Одеса,до 200 осіб,Продуктова,чоловіча,30,Середня,False,Pre-intermediate (нище середнього),12/06/2017 13:03:01,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,5.0,4.0,2000,JavaScript
4,5,Senior Software Engineer,10 і більше років,0.5,4500,500,Інше,до 10 осіб,Продуктова,чоловіча,30,Технікум / Коледж,False,Intermediate (середній),12/06/2017 13:03:47,Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...,10.0,0.5,4500,JavaScript

## Знову порахуйте, яка частка пропусків міститься в кожній колонці і переконайтеся, що залишився тільки стовпець "Мова.програмування"

In [23]:
new_table.isnull().sum()

N                                      0
Посада                                 0
Загальний досвід роботи                0
Досвід роботи на поточному місці       0
Зарплата на місяць                     0
Зміна зарплати за 12 місяців           0
Місто                                  0
Розмір компанії                        0
Тип компанії                           0
Стать                                  0
Вік                                    0
Освіта                                 0
Ще студент                             0
Рівень англійської                     0
Дата заповнення                        0
User.Agent                             0
exp                                    0
current_job_exp                        0
salary                                 0
Мова програмування                  3850
dtype: int64

## Видаліть усі рядки у вихідній таблиці за допомогою методу dropna

In [26]:
table_dropped = new_table.dropna()

## Визначте новий розмір таблиці за допомогою методу shape

In [27]:
table_dropped.shape

(4854, 20)

## Створіть нову таблицю python_data, в якій будуть тільки рядки зі спеціалістами, які вказали мову програмування Python

In [29]:
table_dropped[table_dropped['Мова програмування'] == 'Python']
table_dropped.to_csv("python_data.csv")

## Визначте розмір таблиці python_data за допомогою методу shape

In [30]:
table_dropped.shape

(4854, 20)

## Використовуючи метод groupby, виконайте групування за стовпчиком "Посада"

In [31]:
table_dropped.groupby('Посада').size()

Посада
Data Scientist / Data Analyst       1
DevOps                              1
ERP / CRM                           1
HTML coder                          5
Junior Software Engineer         1280
Product Manager                     1
Senior Software Engineer         1080
Software Engineer                2168
System Architect                   65
Team lead                           2
Technical Lead                    250
dtype: int64

## Створіть новий DataFrame, де для згрупованих даних за стовпчиком "Посада", виконайте агрегацію даних за допомогою методу agg і знайдіть мінімальне та максимальне значення у стовпчику "Зарплата.в.місяць"

In [32]:
table_dropped.groupby('Посада')['Зарплата на місяць'].agg(['min', 'max'])

                                min    max
Посада
Data Scientist / Data Analyst  2700   2700
DevOps                         7000   7000
ERP / CRM                      2000   2000
HTML coder                      385    600
Junior Software Engineer         75   2600
Product Manager                3000   3000
Senior Software Engineer        350   9200
Software Engineer               100   7000
System Architect                400  10000
Team lead                      2500   4000
Technical Lead                  500  18000

## Створіть функцію fill_avg_salary, яка повертатиме середнє значення заробітної плати на місяць. Використовуйте її для методу apply та створіть новий стовпчик "avg"

In [54]:
def fill_avg_salary(x):
    return x.mean()

average_salary = table_dropped.groupby('Посада')['Зарплата на місяць'].apply(fill_avg_salary)

## Створіть описову статистику за допомогою методу describe для нового стовпчика.

In [61]:
average_salary.describe()

count      11.000000
mean     2907.803502
std      1828.363270
min       457.000000
25%      1839.315037
50%      3000.000000
75%      3457.136000
max      7000.000000
Name: Зарплата на місяць, dtype: float64

## Збережіть отриману таблицю в CSV файл

In [62]:
average_salary.to_csv('average_salary.csv')